.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}

.m-auto {
  margin: auto !important;
}

.w-100 {
  width: 100%;
}

/* ======================== TYPOGRAPHY ======================== */
.fw-600 {
  font-weight: 600;
}

.card-style {
  border-radius: 8px !important;
  box-shadow: 0 0 13px 0px gainsboro !important;
}
.bodyContent {
  height: calc(100vh - 86px);
  overflow: auto;
}
